@font-face {
    font-family: 'Eraser';
    src: url('fonts/EraserRegular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    /* background-color: #000; */
    margin: 0;
    width: 100vw;
    height: 100vh;
}

canvas {
    display: block;
    margin: 0 auto;
}
